<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div ng-controller="MyCtrl as ctrl">
        <p>Normal:{{ctrl.greeting}}</p>
        <p>uppercase: {{ctrl.greeting | uppercase}}</p>
        <p>lowercase: {{ctrl.greeting | lowercase}}</p>
        {{100 | currency:'INR'}}


        <input 
            type="text" 
            ng-model="ctrl.query" 
            ng-change="ctrl.onQueryChange()"
        >

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in ctrl.users">
                    <td>{{user.name | customName:user}}</td>
                    <td>{{user.age}}</td>
                    <td>
                        <button ng-click="ctrl.onViewBtnClick(user)">
                            View
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div ng-show="ctrl.selectedUser">
            <h2>Selected User</h2>
            <p>Name: {{ctrl.selectedUser.name}}</p>
            <p>Age: {{ctrl.selectedUser.age}}</p>
        </div>

    </div>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="app.service.js"></script>
    <script src="app.filter.js"></script>
</body>
</html>